<div class="search-results" infiniteScroll [infiniteScrollDistance]="9"
     [infiniteScrollThrottle]="300" (scrolled)="onScroll()">
  <div class="container" *ngIf="devices.length>0">
    <div class="row">
      <table class="table table-dark table-hover table-striped">
        <thead>
        <tr>
          <th>Device Id</th>
          <th>Timestamp</th>
          <th>Moisture</th>
        </tr>
        </thead>
        <tbody>
        <tr
          *ngFor="let device of devices ">
          <td> {{device.deviceId}}</td>
          <td> {{device.timestamp}}</td>
          <td> {{device.moisture}}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
