<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-5">
  <a class="navbar-brand" href="#">Device Pagination UI</a>
  <div class="navbar-expand mr-auto">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="#">Home</a>
      <a class="nav-item nav-link" href="#">About</a>
      <a class="nav-item nav-link" href="#">Contact</a>
      <a class="nav-item nav-link" href="/infinitescroll">Infinite Scroll</a>
      <a class="nav-item nav-link" href="/finitescroll">Finite Scroll</a>
    </div>
  </div>
</nav>